.dropOption {
  position: relative;

  .dropDown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cinza-claro);
    width: 270px;
    padding: 15px;
    border-radius: 12px;

    .Botao-bandeja {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .filho {
    position: absolute;
    left: -2000px;
    width: 80%;

    @media screen and (max-width: 850px) {
      width: 100%;
    }
    @media screen and (max-width: 1350px) {
      width: 100%;
    }
    
  }

  .open-container {
    left: 0;
    transition: ease-in-out 0.5s;
    position: relative;
    margin-bottom: 20px;
  }
}
