* {
  box-sizing: border-box;
}
.inputPassword{

}
.containerLogin {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/391bf991683287.5e3869e47e9be.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  // background: var(--backgroud-color);
  color: var(--branco-primario);
  position: relative;  
  
  @media(max-width: 431px) {
    height: 90vh;
  }
  // @media(max-width: 391px) {
  //   height: 80vh;
  // }
  // @media(max-width: 376px) {
  //   height: 90vh;
  
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
      background: var(--backgroud-color);  // Ajuste o valor do alfa conforme necessário
  }

  .login-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    @media(max-width: 431px) {
      margin-bottom: 60px;
    }
  }
.inputPassword{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ocultaSenha{
  position: absolute;
  top: -15%;
  left: 75%;
  background: transparent;
  border: none;
  font-size: 20px;
  transform: translateY(50%) translateX(50%);
  cursor: pointer;

  @media(max-width: 1281px){
    left: 72%;
  }
  @media(max-width: 1024px){
    left: 78%;
  }
  @media(max-width: 541px){
    left: 83%;
  }
  @media(max-width: 431px){
    left: 78%;
  }
  @media(max-width: 361px){
    left: 75%;
  }
  @media(max-width: 281px){
    left: 67%;
  }
}
  .login {
  position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    // background: var(--background-login);
    background: var(--laranja-header);
    border-radius: 16px;
    padding: 40px 40px;
    width: 30%;

    @media (max-width: 1024px) {
      width: 50%;
      padding: 40px 20px;
    }

    @media (max-width: 800px) {
      width: 50%;
    }

    @media (max-width: 607px) {
      width: 70%;
    }

    .entrar {
      margin-bottom: 3%;
      color: var(--branco-primario);
      font-size: 1.4rem;
    }

    .logo {
      max-width: 100px;
      filter: brightness(0) invert(1);
    }
    
    .campo {
      margin: 5px 0;
      padding: 12px;
      border: 1px solid var(--branco-primario);
      color: var(--preto-primario);
      background: var(--branco-primario);
      border-radius: 5px;
      width: 80%;
      height: 40%;

      @media(max-width: 607px){
        width: 100%;
      }
    }

    .login-button {
      // background-color: var(--laranja-header);
      background-color: var(--azul-escuro);
      color: var(--branco-primario);
      padding: 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 5px 0;
      width: 80%;

      @media(max-width: 607px){
        width: 100%;
      }
    }

    input{
      outline: none;
    }
    
    .login-button:hover {
      // background-color:var(--laranja-header);
      background-color:var(--azul-medio);
    }
  }
}

