.btn-tabela{
    text-align: center;
    align-self: center;
    color: white; 
    cursor: pointer;
    border: none;
    width: 90px;
    height: 30px;
    background-color: var(--laranja-header);
    transition: background-color 0.3s;
    border-radius: 20px;
}

.btn-tabela:hover {
    background-color: var(--azul-escuro);
}

.secundario{
    background-color: var(--amarelo-primario);    
}